@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

.social-icon {
  margin-right: 0.2em;
  margin-left: 0.2em;
  text-decoration: none !important;
}

.social-icon > i:hover {
  color: #f05f40 !important;
}

.social-icon > i {
  transition: 0.3s !important;
  vertical-align: middle;
}
